[access]
	inheritFrom = ta
[access "refs/*"]
	owner = group ldap/akraino-gerrit-ta-distributed-state-server-committers
[project]
	description = a service for persistent state management. It is used to store/share the state information between multiple nodes. It uses either etcd or file-based backend. CM uses it to store e.g. the configuration activation state.
